/*     Возможно, так делать нельзя  */
/*     Чтобы только после нажатия кнопки задания появлялись */


/*     Третье задание - верстка  */
.text_box {
    display: flex; 

    border: 1px solid coral; 
    border-radius: 5px;

    margin: auto;                 
    width: 100%;
    max-width: 600px;
    justify-content: space-between; 
}

.text_box p {
    margin: 15px; 

}

.p_left  { 
    text-align: left; 
    
}

.p_right { 
    text-align: right; 
    /* scale: 2; */
} 