
.text_box {
    display: flex; 
    justify-content: space-between; 
    border: 1px solid coral;              
}

.p_left  { text-align: left; }
.p_right { text-align: right; }


@media (max-width: 400px) {
    .text_box {
        justify-content: center;
        flex-direction: column;
    }

    .p_left, .p_right {
        text-align: center;
    }
}



/* 
    Изучаем верстку. 

    В начале уделяют большое внимание каскаду и специфичности, даже в названии у css
    есть слово каскад. 
    Пока важно знать что у селектора есть вес, и чем больше этот вес, тем приоритетнее будут свойства.
    
    тег -> класс / атрибут-> ID -> inline -> important  id тоже атрибут но веса он имеет больше, important это
    плохая практика, я хороший поэтому не буду его использовать.

    Если в css есть два обращения через один и тот же селектор прменится то свойство которое написано позже.

    Cелекторы это инструкция к каким элементам из html применить свойство и их есть много видов, пока будем
    использовать по тегу и по классу, можно еще вспомнить универсальный * селектор чтобы убрать свойства по 
    умолчанию.

    селектор, селектор {
        свойство: значение;
        свойство: значение;
        свойство: значение;
    }

    
    Родителем называют контейнер в котором лежат другие теги (дети). С темой родства у тегов
    связана тема наследства. 

    Есть список свойств которые по дефолту наследуются цвет, шрифт, выравнивание 
    а есть которые нужно принудительно заставлять наследоваться margin, padding, border 

    Чтобы явно наследовать есть

    inherit  заставляет элемент принудительно взять значение свойства от родителя 

    initial  сбрасывает свойство к стандартному значению браузера 

    unset   сброс:

    div {
        color: red;
        border: 1px solid black;
    }
    
    p {
        color: initial;   станет черным (стандарт браузера)
        border: inherit;  принудительно возьмет рамку от div
        margin: unset;    сбросит к стандарту (initial), т.к. margin не наследуется
    }
    

    Условия в CSS, Queries

    В задании пользователь меняет размер окна браузера, это условие которое меняется, после чего изменяется 
    формат текста в контейнере. Чтобы вместе с условиями, менялся контент на странице использую CSS Queries 

    Их три типа 

    @media, @container, @supports 

    @media это условие, которое применяет стили в зависимости от характеристик устройства на котором открыт
    браузер

    @media (условие) {
        стили
    }

    примеры таких условий 
    
    (max-width: 768px)  ширина экрана меньше или равна 768px
    (min-width: 1024px)  ширина больше или равна 1024px
    (orientation: portrait)  устройство вертикально
    (prefers-color-scheme: dark)  включена ли тёмная тема

    @container условие которое зависит от размера родительского контейнера.

   
    .какой-то контейнер {
        container-type: inline-size;    сколько написано в контейнере столько и размер
    }

    
    @container (max-width: 300px) {
        .какой то тег в контейнере {
            border: solid red           добавь обводку элементу если максимальная ширина контейнера (любого)
                                        300 пикселей
        }
    }

    @supports проверяет, поддерживает ли браузер CSS-свойство или значение

    
*/